<mat-card class="card">
  <ng-container *ngIf="supported; else unsupported">
    <div class="header-container">
      <button
        mat-raised-button
        class="file-select-button"
        color="primary"
        [disabled]="timer"
        (click)="onClick($event)"
      >
        {{
          timer
            ? "ログ取得中です..."
            : "TalesWeaverのフォルダを選択 (例：C:\\Nexon\\TalesWeaver)"
        }}
      </button>
      <div *ngIf="calclating">計算中</div>
    </div>

    <div class="result">
      <div>
        <div>コンテンツ</div>
        <div *ngFor="let header of headerInfo">{{ header }}</div>
      </div>
      <div class="weekly-item" *ngFor="let task of taskDisplay">
        <ng-container *ngIf="task.date">
          <div>{{ task.date.toLocaleDateString() }}</div>
          <div *ngFor="let t of task.tasks">
            {{ t.details.length }}
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</mat-card>
<mat-card class="help">
  <strong class="txtgreen">◆コンテンツ</strong>
  <table border="2" cellpadding="5">
    <tbody>
      <tr>
        <th bgcolor="#F5D0A9" width="200">コンテンツ</th>
        <th bgcolor="#F5D0A9" width="200">獲得可能ポイント(合計)</th>
        <th bgcolor="#F5D0A9" width="200">1回獲得ポイント</th>
        <th bgcolor="#F5D0A9" width="200">条件</th>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>プラバ防衛戦</td>
        <td>500</td>
        <td>250</td>
        <td>チーム、1人モード合計</td>
      </tr>
      <tr>
        <td>力の根源</td>
        <td>500</td>
        <td>250</td>
        <td>‐</td>
      </tr>
      <tr>
        <td>忘却の地下墓所</td>
        <td>750</td>
        <td>250</td>
        <td>ニックスクリア基準</td>
      </tr>
      <tr>
        <td>マーキュリアル洞窟</td>
        <td>2000</td>
        <td>250</td>
        <td>ボスごと支給</td>
      </tr>
      <tr>
        <td>ルミナス</td>
        <td>1000</td>
        <td>250</td>
        <td>‐</td>
      </tr>
      <tr>
        <td>プシーキーの迷宮</td>
        <td>1000</td>
        <td>250</td>
        <td>‐</td>
      </tr>
      <tr>
        <td>神鳥の塒(ハード)</td>
        <td>2850</td>
        <td>475</td>
        <td>神鳥クリア</td>
      </tr>
      <tr>
        <td>アビス・深層(ヘル)</td>
        <td>4500</td>
        <td>300</td>
        <td>‐</td>
      </tr>
      <tr>
        <td>地下要塞の次元の隙間</td>
        <td>4900</td>
        <td>700</td>
        <td>‐</td>
      </tr>
      <tr>
        <td>エクリプスボス</td>
        <td rowspan="2">7000</td>
        <td>500</td>
        <td>‐</td>
      </tr>
      <tr>
        <td>補給品奪還</td>
        <td>300</td>
        <td>‐</td>
      </tr>
    </tbody>
  </table>
  <strong class="txtgreen">◆ランキングコンテンツ</strong><br />
  <table border="2" cellpadding="5" cellspacing="5">
    <th bgcolor="#F5D0A9">コンテンツ</th>
    <th bgcolor="#F5D0A9">順位</th>
    <th bgcolor="#F5D0A9">支給ポイント</th>
    <tbody>
      <tr>
        <td rowspan="3" align="center">プシーキーの迷宮(ノーマル)</td>
        <td>1位</td>
        <td>500</td>
      </tr>
      <tr>
        <td>2位</td>
        <td>300</td>
      </tr>
      <tr>
        <td>3位</td>
        <td>100</td>
      </tr>
      <tr>
        <td rowspan="2" align="center" bgcolor="#F2F5A9">
          メルカルト研究所(1人)
        </td>
        <td bgcolor="#F2F5A9">1位</td>
        <td bgcolor="#F2F5A9">600</td>
      </tr>
      <tr>
        <td bgcolor="#F2F5A9">2位</td>
        <td bgcolor="#F2F5A9">400</td>
      </tr>
    </tbody>
  </table>
</mat-card>

<ng-template #unsupported>
  <div>このブラウザは対応していません(´・ω・`)(´・ω・`)</div>
</ng-template>
