.card {
    max-width: 800px;
    margin: 0 auto;
}

.help {
    max-width: 800px;
    margin: 50px auto;
}

.tool-bar {
    margin: 10px 0;
}

.result {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}