
<mat-card class="example-card">

  <input type="file" style="display: none" #fileInput accept="text/html" (change)="onChangeFileInput()" />
  <div class="flex-c">
    <button mat-raised-button class="file-select-button" *ngIf="supported" color="primary" (click)="onClick($event)">
      <mat-icon>attach_file</mat-icon>
      TWログファイルを選択
    </button>
    <button mat-raised-button class="file-select-button" *ngIf="!supported" color="primary" (click)="onClickFileInputButton($event)">
      <mat-icon>attach_file</mat-icon>
      TWログファイルを選択
    </button>
    <div class="ml-5" *ngIf="timer !== undefined">
      <i class="fa fa-play" aria-hidden="true"></i> 自動更新中...
    </div>
  </div>

  <p class="file-name" *ngIf="!file; else fileName">ファイルが選択されていません</p>
  <ng-template #fileName>
    <p class="file-name">{{ file?.name }}</p>
  </ng-template>
  <div>
    <p *ngIf="file" class="bold">{{date.toLocaleDateString()}} の課題記録</p>
    <mat-slide-toggle [(ngModel)]="showSettings" (change)="onChange(false)">文字列設定を表示</mat-slide-toggle>
    <div *ngFor="let item of tasks; let i = index" class="flex-c">
      <button class="flex-1" (click)="removeItem(i)">削除</button>
      <div class="ml-5 flex-2">
        日課: <input class="w-50" [(ngModel)]="item.title" (change)="onChange(false)" type="text" >
      </div>
      <div class="flex-3" *ngIf="showSettings">
        文字列: <input class="w-80"  [(ngModel)]="item.content" (change)="onChange(true)"  type="text" >
      </div>
      <div class="flex-1 bold">
        {{item.count}} 回
      </div>
    </div>
    <button (click)="addItem()">ルールを追加</button>
  </div>
  </mat-card>
