<mat-table [dataSource]="sdtSummary" class="mat-elevation-z2 table-row" color="primary">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> MAP </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    <mat-footer-cell mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="count">
    <mat-header-cell *matHeaderCellDef> Count </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.count}} </mat-cell>
    <mat-footer-cell mat-footer-cell *matFooterCellDef> {{totalCount}} </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="min">
    <mat-header-cell *matHeaderCellDef> Min </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.min}} </mat-cell>
    <mat-footer-cell mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="max">
    <mat-header-cell *matHeaderCellDef> Max </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.max}} </mat-cell>
    <mat-footer-cell mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="ave">
    <mat-header-cell *matHeaderCellDef> Ave </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.ave}} </mat-cell>
    <mat-footer-cell mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="score">
    <mat-header-cell *matHeaderCellDef> Est. Score </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.subScore}} </mat-cell>
    <mat-footer-cell mat-footer-cell *matFooterCellDef> {{totalScore}} </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="bonus">
    <mat-header-cell *matHeaderCellDef> Bonus Score </mat-header-cell>
    <mat-cell *matCellDef="let element"> (+{{element.bonus}}) </mat-cell>
    <mat-footer-cell mat-footer-cell *matFooterCellDef> (+{{totalBonus}}) </mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <mat-footer-row *matFooterRowDef="displayedColumns;"></mat-footer-row>
</mat-table>
