.example-card {
  max-width: 400px;
  margin: 0 auto;
}

.twitter_btn {
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
  background-color: #1b95e0;
  border-color: #1b95e0;
  color: white;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  text-align: center;
  white-space: nowrap;
  line-height: 100%;
}
