.example-card {
  max-width: 800px;
  margin: 0 auto;
}

.twitter_btn {
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
  background-color: #1b95e0;
  border-color: #1b95e0;
  color: white;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  text-align: center;
  white-space: nowrap;
  line-height: 100%;
}

.meiq-label {
  font-weight: bold;
}

.calender-area {
  height: 12em;
}

.to-right {
  text-align: right;
  margin: 0 0.5em;
}

.btn-small {
  line-height: 1em;
  padding: 0.3em 0.5em;
  margin: 0 1px;
}

.table-area {
  max-width: 650px;
  margin: 0 auto;
}
