<mat-card class="example-card">
  <div class="calender-area">
    <app-calendar (dateSelected)="dateSelected($event)" [calendarData]="calendarData"></app-calendar>
  </div>
  <div class="table-area">
  <div class="to-right">
    <input type="file" style="display: none" accept="text/html" #fileImport multiple (change)="onChangeFileImport()"/>
    <button mat-raised-button class="btn-small" color="primary" (click)="onClickFileImportButton()" [disabled]="importing">
      <i class="fa fa-spinner" *ngIf="importing" aria-hidden="true"></i>
      <i class="fa fa-file-text" *ngIf="!importing" aria-hidden="true"></i>
        ログの一括インポート<span *ngIf="importing">中...</span>
    </button>
    <button mat-raised-button class="btn-small" color="warn" (click)="clearHistory()">
      <i class="fa fa-trash" aria-hidden="true"></i>
        履歴を削除
    </button>
  </div>
<input type="file" style="display: none" #fileInput accept="text/html" (change)="onChangeFileInput()" />
<button mat-raised-button class="file-select-button btn-small" color="primary" (click)="onClickFileInputButton()">
  <mat-icon>attach_file</mat-icon>
   TWログファイルを選択
</button>
<p class="file-name" *ngIf="!file; else fileName">ファイルが選択されていません</p>
<ng-template #fileName>
  <p class="file-name">{{ file?.name }}</p>
</ng-template>
  <p *ngIf="meiqRelatedLineInfos && meiqRelatedLineInfos.length; else noData" class="meiq-label">{{date.toLocaleDateString()}} の迷宮記録</p>
  <ng-template #noData>
    <p class="meiq-label"><span *ngIf="date">{{date.toLocaleDateString()}} </span>データがありません</p>
  </ng-template>
  <div *ngIf="meiqRelatedLineInfos && meiqRelatedLineInfos.length">
    <app-table [meiqRelatedLineInfos]="meiqRelatedLineInfos"></app-table>
    <a href="https://twitter.com/intent/tweet?text={{tweetText}}" target="_blank" class="twitter-share-button">
      <span class="twitter_btn">
        <i class="fa fa-twitter" aria-hidden="true"></i> ツイート
      </span>
    </a>
  </div>
</div>
</mat-card>

