<mat-toolbar>
  <span>TW ToolBox</span>
  <a [routerLink]="['meiq']" mat-button routerLinkActive="selected">迷宮</a>
  <a [routerLink]="['sdt']" mat-button routerLinkActive="selected">争奪戦</a>
  <a [routerLink]="['task']" mat-button routerLinkActive="selected">日課</a>
  <a [routerLink]="['core']" mat-button routerLinkActive="selected"
  >テシスコア計算</a
  >
  <a [routerLink]="['exp']" mat-button routerLinkActive="selected">時給測定</a>
  <a [routerLink]="['log']" mat-button routerLinkActive="selected">ログビューア(Beta)</a>
</mat-toolbar>
<div class="component">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
