<mat-card class="example-card">
  <button
    mat-raised-button
    color="primary"
    (click)="onCalc()"
    [disabled]="calculating"
  >
    <i class="fa fa-circle-o-notch fa-spin fa-fw" *ngIf="calculating"></i>
    {{ calculating ? "計算中" : "計算する" }}
  </button>
  <div class="container-box">
    <mat-form-field>
      <mat-label>現状</mat-label>
      <mat-select [(ngModel)]="start">
        <mat-optgroup *ngFor="let group of phaseList" [label]="group.name">
          <mat-option *ngFor="let v of group.list" [value]="v.value">{{
            v.name
          }}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>目標</mat-label>
      <mat-select [(ngModel)]="goal">
        <mat-optgroup *ngFor="let group of phaseList" [label]="group.name">
          <mat-option *ngFor="let v of group.list" [value]="v.value">{{
            v.name
          }}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>強化コア数</mat-label>
      <mat-select [(ngModel)]="numCore">
        <mat-option *ngFor="let v of numCoreList" [value]="v">{{
          v
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>目標確率</mat-label>
      <mat-select [(ngModel)]="targetZ">
        <mat-option *ngFor="let v of probabilityList" [value]="v.z">{{
          v.probability
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="!calculating; else elseBlock" class="container-box">
    <p>必要粉: {{ math.ceil(needMaterial.powder) }}</p>
    <p>必要結晶: {{ math.ceil(needMaterial.crystal) }}</p>
  </div>
  <ng-template #elseBlock> </ng-template>
</mat-card>
